body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  background-color: ##d1f4fa;
}

body.pink {
  background-color: #ffe6eb
}

body.green  {
  background-color: #CCF0C3
}

body.blue  {
  background-color: #4A9FF5
}

h1 {
  font-family: 'Sigmar One', cursive;
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 0px;
}

p {
  font-family: 'Sigmar One', cursive;
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 0px;
}

.inputSection {
  margin: 50px 0px 80px 0px;
  width: 400px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
}

.addOption {
  margin-top: 10px
}

.resultSection{
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Sigmar One', cursive;
  font-size: 50px;
}

.rubrik2{
  font-size: 40px;
}
